.hero-list .hero-item.selected {
  background-color: #c70000;
  color: #FFFFFF;
}

.hero-item:hover:not(.selected) {
  background-color: #444444;
}

.hero-item {
  border: 1px solid #333333;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}

.hero-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 0 auto;
  width: 90%;
  max-height: 500px;
  scrollbar-width: thin;
  scrollbar-color: #999 transparent;
  background-color: #222222;
}

.hero-list::-webkit-scrollbar {
  height: 10px;
}

.hero-list::-webkit-scrollbar-track {
  background-color: transparent;
}

.hero-list::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 10px;
}

.hero-list:hover::-webkit-scrollbar-thumb {
  background-color: #666;
}

.hero-list:hover {
  overflow-x: auto;
}

.hero-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #111111;
  color: #FFFFFF;
}

.hero-list .hero-item {
  flex: 0 0 auto;
  width: 75px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.9rem;
  transition: all 0.3s ease;
}

.hero-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222222;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 10px;
  width: 80%;
  box-sizing: border-box;
}

.search-bar input {
  text-align: center;
  border: none;
  font-size: 18px;
  flex: 1;
  margin-right: 10px;
  outline: none;
  color: #FFFFFF;
  background-color: #333333;
}

.search-bar input::placeholder {
  color: #8d8d8d;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  text-align: center;
}

.clear-button {
  background-color: #f44336;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
}

.clear-button:hover {
  background-color: #d32f2f;
}

.clear-search-button {
  background-color: #333333;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
}

.clear-search-button:hover {
  background-color: #444444;
}

.loading-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.5);
}

.loading-page__message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.5rem;
}
